<form #tref (ngSubmit)="save(tref)">
  <input type="text" name="username" [(ngModel)]="user.username">
  <input type="password" name="password" [(ngModel)]="user.password">
  <button>save</button>
</form>
<hr>

<form [formGroup]="myForm">
  <input type="text" formControlName="name">
  <input type="text" formControlName="age" (input)="setAge()">
  <span *ngIf="myForm.controls['name'].errors?.['minlength']">{{myForm.controls['name'].errors?.['minlength']|json}}</span>
  <button (click)="save2()" [disabled]="myForm.invalid">save2</button>
</form>

<hr>
<form [formGroup]="myForm2" (change)="showDetails()">
  <select formControlName="userId">
    <option *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
  </select>
</form>

<div *ngIf="userDetail">{{userDetail.username}}</div>
